/* FORM  */
label {
	margin-bottom: 10px;
	color: #8E596C;
}

.error {
	color: #ce4e4e;
	font-size: 14px;

}

.form-line {
	margin-bottom: 25px;
	padding-left:10%;
	padding-right:10%;
}


.form-input {
	border-radius: 8px;
	border: 1px solid #ccc;
	padding: 5px 5px 5px 15px;
	width: 100%;
}

.form-input#timeout-form {
	width: 30%;
}

.form-input:focus {
	border: 1px solid #B0CFE0;
	box-shadow: 0px 0px 5px #B0CFE0;
}

input[type=checkbox] {
	margin-left:20px;
}

.day-label {
	color: #8E596C;
	padding-right:30px;
}